<div >
  <h2>{{stopTitle}}</h2>
  <h3>Current time: {{now.getHours() + ':' + (now.getMinutes() < 10 ? '0'+ now.getMinutes() : now.getMinutes() )+ ':' + (now.getSeconds()<10 ? '0' + now.getSeconds(): now.getSeconds())}}</h3>
  <h3>{{currentDay()}}</h3>
    <div *ngFor="let element of result | orderBy: {properties:[criteria, criteria2], direction: 1}" >
    <div class="routes-list-container">
        <div class="route-container icon"> {{element.route.type}}</div>
        <div class="route-container number">{{element.route.title}}</div>
        <div class="route-container title">   
          {{element.essentials.first}} - {{element.essentials.last}} <br/>
          Nearest: {{getNearestTime(element.route)}}
        </div>
    </div>
  </div>
</div>
